<div class="admin">
    <div class="tarkbar">
        <h2>Quản lý nhân sự</h2>
        <p>Xin chào: <strong>{{admin.username}}</strong>
            <span>|<button (click)="logout()" class="logout">Thoát</button> </span>
        </p>
        <ul>
            <li><a style="cursor: pointer" (click)="list_staff()">Nhân viên</a></li>
            <li><a style="cursor: pointer" (click)="list_department()">Bộ phận</a></li>
            <li><a style="cursor: pointer" (click)="list_acc()">Tài khoản</a></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="content">
        <div *ngIf="chooseStaff">
            <h3>Danh sách tài khoản</h3>
            <div class="button"><a style="color: white;text-decoration: none" [routerLink]="['/addStaff']">Thêm tài khoản</a></div>
            <div class="button"><a style="color: white;text-decoration: none;cursor: pointer;" (click)="export()">Export</a></div>

            <table class="nhanvien">
                <tr>
                    <th>ID</th>
                    <th>Họ tên</th>
                    <th>Giới tính</th>
                    <th>Địa chỉ</th>
                    <th>Email</th>
                    <th>Ngày sinh</th>
                    <th>Chức vụ</th>
                    <th>Bộ phận</th>
                    <th colspan="2">Xử lí</th>
                </tr>
                <tr *ngFor="let staff of staffs | paginate:{ itemsPerPage: count, currentPage: p,totalItems: staffs.length}">
                    <td>{{staff.id}}</td>
                    <td>{{staff.full_name}}</td>
                    <td *ngIf="staff.gender=='Male'">Nam</td>
                    <td *ngIf="staff.gender=='Female'">Nữ</td>
                    <td>{{staff.address}}</td>
                    <td>{{staff.email}}</td>
                    <td>{{staff.birthday|date:'dd/MM/yyyy'}}</td>
                    <td *ngIf="staff.grade=='Manager'">Trưởng phòng</td>
                    <td *ngIf="staff.grade=='Staff'">Nhân viên</td>
                    <td>{{staff.department_name}}</td>
                    <td><button (click)="editStaff(staff.id)">Sửa</button></td>
                    <td><button (click)="delStaff(staff.id)">Xóa</button></td>
                </tr>
            </table>
            <div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
            <app-edit-staff *ngIf="chooseEdit" [idstaff]="id_staff"></app-edit-staff>
        </div>

        <div *ngIf="chooseDepartment">
            <h3>Danh sách bộ phận</h3>
            <div class="button"><a style="color: white;text-decoration: none" [routerLink]="['/addDept']">Thêm bộ phận</a></div>
            <br/>
            <br/>
            <table class="nhanvien" style="width:70%;margin:auto">
                <tr>
                    <th>STT</th>
                    <th>Tên bộ phận</th>
                    <th>Địa chỉ</th>
                    <th colspan="2">Xử lí</th>
                </tr>
                <tr *ngFor="let dept of depts; index as id">
                    <td>{{id}}</td>
                    <td><a class="showDept" (click)="showDept(dept.id_department)">{{dept.department_name}}</a></td>
                    <td>{{dept.address}}</td>
                    <td><button (click)="editDept(dept.id_department)">Sửa</button></td>
                    <td><button (click)="delDept(dept.id_department)">Xóa</button></td>
                </tr>
            </table>
            <app-edit-dept *ngIf="flag" [id]="id_dept"></app-edit-dept>
        </div>

        <div *ngIf="listStaff">
            <app-list-staff [value]="id_department"></app-list-staff>
        </div>
        <div *ngIf="chooseAcc">
            <h3>Danh sách tài khoản nhân viên</h3>
            <form>
                <table class="nhanvien" style="width:70%;margin:auto">
                    <tr>
                        <td>ID</td>
                        <td>Tài khoản</td>
                        <td>chọn</td>
                    </tr>
                    <tr *ngFor="let acc of staffs| paginate:{ itemsPerPage: 15, currentPage: p,totalItems: staffs.length}">
                        <td>{{acc.id}}</td>
                        <td>{{acc.email}}</td>
                        <td>
                            <input type="checkbox" [(ngModel)]="acc.select" (change)="choose(acc.email,acc.select)" [ngModelOptions]="{standalone: true}" value="false">
                        </td>
                    </tr>
                </table>
                <div style="margin-right: 140px;float: right;">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
                <input style=" margin-left: 200px;font-size:15px;margin-top: 30px;padding: 10px 15px;background-color: darkcyan;color: white" type="submit" value="Reset" (click)="resetPass()">
            </form>
        </div>