<div class="admin">
    <div class="tarkbar">
        <h2>Quản lý nhân sự</h2>
        <p>Xin chào: <strong>Nguyễn Thư Hoài</strong>
            <span>|<button (click)="logout()">Thoát</button> </span>
        </p>
        <ul>
            <li><a style="cursor: pointer" (click)="list_staff()">Nhân viên</a></li>
            <li><a style="cursor: pointer" (click)="list_department()">Bộ phận</a></li>
            <li></li>
            <li></li>

        </ul>
    </div>
    <div class="content">
        <div *ngIf="chooseStaff">
            <h3>Danh sách nhân viên</h3>
            <div class="button"><a style="color: white;text-decoration: none" [routerLink]="['/addStaff']">Thêm nhân viên</a></div>
            <table class="nhanvien">
                <tr>
                    <th>STT</th>
                    <th>Họ tên</th>
                    <th>Giới tính</th>
                    <th>Địa chỉ</th>
                    <th>Email</th>
                    <th>Ngày sinh</th>
                    <th>Chức vụ</th>
                    <th>Bộ phận</th>
                    <th>Mật khẩu</th>
                    <th colspan="2">Xử lí</th>
                </tr>
                <tr *ngFor="let user of staffs">
                    <td>{{user.id}}</td>
                    <td>{{user.full_name}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.birthday|date:'dd/MM/yyyy'}}</td>
                    <td>{{user.grade}}</td>
                    <td>{{user.department_name}}</td>
                    <td>{{user.password}}</td>
                    <td><button (click)="editAcc(user,id)">Sửa</button></td>
                    <td><button (click)="delAcc(user,id)">Xóa</button></td>
                </tr>
            </table>
        </div>
        <div *ngIf="chooseDepartment">
            <h3>Danh sách bộ phận</h3>
            <div class="button"><a style="color: white;text-decoration: none" [routerLink]="['/addDept']">Thêm bộ phận</a></div>
            <table class="nhanvien">
                <tr>
                    <th>STT</th>
                    <th>Tên bộ phận</th>
                    <th>Địa chỉ</th>
                    <th>Quản lý</th>
                    <th colspan="2">Xử lí</th>
                </tr>
                <tr *ngFor="let dept of depts">
                    <td>{{dept.id_department}}</td>
                    <td>{{dept.department_name}}</td>
                    <td>{{dept.manager}}</td>
                    <td>{{dept.address}}</td>
                    <td><button (click)="editDept()">Sửa</button></td>
                    <td><button (click)="delDept(dept.id_department)">Xóa</button></td>
                </tr>
            </table>
        </div>
    </div>